/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

 .post-categories a {
  border: 1.5px solid black;
  border-radius: 5px;
  padding: .75%;
}

.section__kofi {
  padding-top: $section-gutter;
  padding-bottom: $section-gutter;
}
